<div class="container">
<div class="jumbotron row">
<div class="col">
    <h2>Burgers On The Menu</h2>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  	<li>
    <p>{{burger_name}}</p>
    <form action="/devour/{{id}}" method="post">
    <button type="submit">Devour</button>
    </form>
{{/unless}}
  {{/each}}
</ul>
</div>
<div class="col">
    <h2>Add a Burger</h2>
<form action="/create" method="post">
    Burger name: <input type="text" name="burger_name">
    <input type="submit" value="Submit">
</form>
</div>
<div class="col">
        <h2>Devoured Burgers</h2>
<ul>
  {{#each burgers}}
  {{#if devoured}}
  	<li>
    <p>{{burger_name}}</p>
    
{{/if}}
  {{/each}}
</ul>
</div>
</div>
</div>